/* Footer.css */
.footer {
    background-color: #282C2F;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  